body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-top: 50px; /* Adjust this value based on the height of your fixed header */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: left;
    position: fixed; /* Fixes the header in place */
    width: 100%; /* Ensures the header takes up the full width */
    top: 0; /* Positions it at the top of the page */
    left: 0;
    z-index: 1000; /* Makes sure it stays above other content */
}

nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

.container-home {
    background-color: #f4f4f4;
    color: #333;
    padding: 60px 0;
    text-align: center;
    height: 100vh;
    top: 50vh;
}

.container-home-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    margin-top: 15vh;
}

.container-home-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.container-home-description {
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.container-home-cta {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.container-home-cta:hover {
    background: #555;
}

section {
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#project-card-last {
    padding-bottom: 30px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}

#footer-project {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}

.three-section-container {
    display: flex;
    justify-content: space-between;
}

.one-section {
    flex: 1;
    padding: 10px;
}

.one-section:not(:last-child) {
    margin-right: 10px;
}

.projects {
    display: inline-flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line if needed */
    justify-content: center; 
    gap: 20px; /* Adds spacing between cards */
    position: flex;
    /* margin-left: 120px; */
    /* width: 80% */
}

.project-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    max-width: 45%;
    min-width: 375px; 
    /* min-width: 40%; */
    margin-bottom: 10px;
}

.container-list {
    left: 0;
    /* width: fit-content; */
    position: fixed;
}
